Repository Neufund/platform-frontend, pull requests merged in 2020-04, with the labels that each got.

#4255 Fix Production Conflict
  packages/web/health-check-sha.json
Labels: App: web

#4222 Handle unsupported browsers
  packages/web/.prettierignore
  packages/web/README.md
  packages/web/app/external/unsupported-browser/logo-chrome.svg
  packages/web/app/external/unsupported-browser/logo-edge.svg
  packages/web/app/external/unsupported-browser/logo-firefox.svg
  packages/web/app/external/unsupported-browser/logo-opera.svg
  packages/web/app/external/unsupported-browser/logo-safari.svg
  packages/web/app/external/unsupported-browser/logo_neufund_on_white.svg
  packages/web/app/external/unsupported-browser/logo_neufund_on_white_title.svg
  packages/web/app/external/unsupported-browser/modernizr-custom.js
  packages/web/app/external/unsupported-browser/unsupported-browser-styles.css
  packages/web/app/index.html
  packages/web/modernizr-config.json
  packages/web/package.json
  packages/web/webpack/webpack.config.common.js
  yarn.lock
Labels: App: web

#4258 updates backend sha
  packages/web/health-check-sha.json
Labels: App: web

#4257 Timecode Production RC Pt2
  packages/web/.prettierignore
  packages/web/README.md
  packages/web/app/external/unsupported-browser/logo-chrome.svg
  packages/web/app/external/unsupported-browser/logo-edge.svg
  packages/web/app/external/unsupported-browser/logo-firefox.svg
  packages/web/app/external/unsupported-browser/logo-opera.svg
  packages/web/app/external/unsupported-browser/logo-safari.svg
  packages/web/app/external/unsupported-browser/logo_neufund_on_white.svg
  packages/web/app/external/unsupported-browser/logo_neufund_on_white_title.svg
  packages/web/app/external/unsupported-browser/modernizr-custom.js
  packages/web/app/external/unsupported-browser/unsupported-browser-styles.css
  packages/web/app/index.html
  packages/web/health-check-sha.json
  packages/web/modernizr-config.json
  packages/web/package.json
  packages/web/webpack/webpack.config.common.js
  yarn.lock
Labels: App: web

#4191 #4131 wallet connect login
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/translatedMessages/utils.ts
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnectLayout.tsx
  packages/web/app/components/wallet-selector/walletRoutes.tsx
  packages/web/app/config/.env.commit
  packages/web/app/config/.env.common
  packages/web/app/config/.env.e2e
  packages/web/app/config/.env.e2e.io
  packages/web/app/config/.env.example
  packages/web/app/config/constants.ts
  packages/web/app/config/getConfig.ts
  packages/web/app/di/setupBindings.ts
  packages/web/app/di/symbols.ts
  packages/web/app/index.tsx
  packages/web/app/lib/api/nullBlockTracker.ts
  packages/web/app/lib/dependencies/detectBrowser.ts
  packages/web/app/lib/persistence/WalletConnectStorage.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/lib/web3/errors.ts
  packages/web/app/lib/web3/light-wallet/LightWallet.ts
  packages/web/app/lib/web3/types.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/reducer.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/reducer.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/app/modules/wallet-selector/wallet-connect/actions.ts
  packages/web/app/modules/wallet-selector/wallet-connect/reducer.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/web3/types.ts
  packages/web/intl/locales/en-en.json
  packages/web/package.json
  packages/web/test/fixtures.ts
  packages/web/typings/modules.d.ts
  packages/web/webpack/loadAppEnv.js
  packages/web/webpack/webpack.config.dev.js
  yarn.lock
Labels: App: web, Pkg: design-system, Postponed

#4261 Move browser support check to external script
  packages/web/app/external/unsupported-browser/check-browser-support.js
  packages/web/app/index.html
Labels: App: web

#4264 Timecode Production RC pt 3
  packages/web/app/external/unsupported-browser/check-browser-support.js
  packages/web/app/index.html
Labels: App: web

#4238 #4208 restore walletConnect session
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/config/.env.common
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/middlewares/redux-logout-reset.ts
  packages/web/app/modules/auth/user/actions.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/watcher/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/wallet-connect/actions.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/web3/reducer.ts
  packages/web/app/store.ts
Labels: App: web, Pkg: design-system

#4253 At/#4206 wallet connect subtype meta
  packages/web/app/lib/web3/types.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/lib/web3/wallet-connect/utils.spec.ts
  packages/web/app/lib/web3/wallet-connect/utils.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/web3/types.ts
Labels: App: web

#4267 Make `invariant` fully type safe
  packages/shared/src/utils/invariant.spec.ts
  packages/shared/src/utils/invariant.ts
  packages/web/app/components/kyc/Router.tsx
  packages/web/app/components/layouts/menus/MenuEntry.tsx
  packages/web/app/components/modals/bank-transfer-flow/BankTransferFlow.tsx
Labels: App: web, Pkg: shared, TECH

#4268 Prefix and minify Unsupported Browser files
  packages/web/.prettierignore
  packages/web/README.md
  packages/web/app/external/unsupported-browser/README.md
  packages/web/app/external/unsupported-browser/check-browser-support.js
  packages/web/app/external/unsupported-browser/check-browser-support.min.js
  packages/web/app/external/unsupported-browser/modernizr-custom.min.js
  packages/web/app/external/unsupported-browser/unsupported-browser-styles.css
  packages/web/app/external/unsupported-browser/unsupported-browser-styles.min.css
  packages/web/app/index.html
  packages/web/health-check-sha.json
  packages/web/package.json
Labels: App: web

#4278 #4228_kyc_form_save_and_close_fix
  packages/web/app/components/eto/utils.ts
  packages/web/app/components/kyc/personal/Start.tsx
  packages/web/app/lib/api/util/customSchemas.ts
Labels: App: web

#4147 Fix ETO not showing presale progress for whitelisted user
  packages/web/app/components/eto/overview/EtoOverviewStatus/CounterWidget.spec.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentStatusWidget.tsx
  packages/web/app/components/modals/document-confidentiality-agreement-modal/DocumentConfidentialityAgreementModal.tsx
  packages/web/app/components/testing/embeded-widget/TestEmbededWidget.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/lib/api/eto/EtoPledgeApi.interfaces.unsafe.ts
  packages/web/app/lib/api/eto/EtoPledgeApi.ts
  packages/web/app/modules/bookbuilding-flow/actions.ts
  packages/web/app/modules/bookbuilding-flow/reducer.ts
  packages/web/app/modules/bookbuilding-flow/sagas.ts
  packages/web/app/modules/bookbuilding-flow/utils.ts
  packages/web/app/modules/eto-view/investor/sagas.ts
  packages/web/app/modules/eto-view/issuer/sagas.ts
  packages/web/app/modules/eto-view/nominee/sagas.ts
  packages/web/app/modules/eto-view/notAuth/sagas.ts
  packages/web/app/modules/eto-view/shared/actions.ts
  packages/web/app/modules/eto-view/shared/sagas.spec.ts
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/etoRefreshPolling.spec.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/sagas/watchEtosSetActionSaga.spec.ts
  packages/web/app/modules/eto/sagas/watchEtosSetActionSaga.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/sagasUtils.ts
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/app/test-e2e/investor/dashboard/ETOList.spec.e2e.ts
  packages/web/app/test-e2e/issuer/eto/Campaigning.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/utils.ts
  packages/web/test/integrationTestUtils.unsafe.tsx
Labels: App: web

#4245 #4231 add import account flow
  packages/shared-utils/src/utils/types.ts
  packages/wallet/README.md
  packages/wallet/app/AppRouter.tsx
  packages/wallet/app/assets/close.svg
  packages/wallet/app/components/ImportWallet.spec.tsx
  packages/wallet/app/components/ImportWallet.tsx
  packages/wallet/app/components/import-wallet/ImportWalletScreen.tsx
  packages/wallet/app/components/landing/LandingScreen.tsx
  packages/wallet/app/components/shared/Icon.tsx
  packages/wallet/app/components/shared/Link.tsx
  packages/wallet/app/components/shared/ModalStackHeader.stories.tsx
  packages/wallet/app/components/shared/ModalStackHeader.tsx
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/shared/buttons/ButtonIcon.stories.tsx
  packages/wallet/app/components/shared/buttons/ButtonIcon.tsx
  packages/wallet/app/components/shared/forms/fields/Field.tsx
  packages/wallet/app/components/shared/forms/fields/Form.tsx
  packages/wallet/app/components/shared/forms/layouts/FieldLayout.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/FieldLayout.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.tsx
  packages/wallet/app/components/shared/typography/Headline.stories.tsx
  packages/wallet/app/components/shared/typography/Headline.tsx
  packages/wallet/app/components/utils.spec.ts
  packages/wallet/app/components/utils.ts
  packages/wallet/app/modules/auth/actions.ts
  packages/wallet/app/modules/auth/errors.ts
  packages/wallet/app/modules/auth/reducer.ts
  packages/wallet/app/modules/auth/sagas.ts
  packages/wallet/app/modules/auth/sagasInternal.ts
  packages/wallet/app/modules/auth/types.ts
  packages/wallet/app/modules/auth/utils.ts
  packages/wallet/app/modules/eth/lib/EthWallet.spec.ts
  packages/wallet/app/modules/eth/lib/EthWalletFactory.spec.ts
  packages/wallet/app/modules/eth/lib/EthWalletFactory.ts
  packages/wallet/app/modules/eth/lib/schemas.ts
  packages/wallet/app/modules/eth/lib/utils.spec.ts
  packages/wallet/app/modules/eth/lib/utils.ts
  packages/wallet/app/styles/spacings.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/app/styles/utils.ts
  packages/wallet/app/utils/types.ts
  packages/wallet/app/utils/yupSchemas.spec.ts
  packages/wallet/app/utils/yupSchemas.ts
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/package.json
  packages/wallet/storybook/stories.ts
  packages/web/app/components/layouts/Layout.stories.tsx
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/app/modules/kyc/selectors.spec.ts
  packages/web/app/modules/notifications/selectors.spec.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/types.d.ts
  packages/web/app/utils/react-connected-components/storeDecorator.unsafe.tsx
  packages/web/test/fixtures/mockedStore.ts
  packages/web/test/integrationTestUtils.unsafe.tsx
  yarn.lock
Labels: App: mobile, Pkg: sagas, Pkg: shared, Pkg: shared-modules

#4183 Changes Web Package Webpack settings
  .circleci/config.yml
  .nvmrc
  package.json
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/webpack/webpack.config.js
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/fundrising-stats/EtoViewFundraisingStatistics.tsx
  packages/web/app/config/configUtils.ts
  packages/web/app/config/getConfig.ts
  packages/web/app/index.tsx
  packages/web/package.json
  packages/web/scripts/generate-contracts.js
  packages/web/webpack/loadAppEnv.js
  packages/web/webpack/webpack.config.ci.prod.js
  packages/web/webpack/webpack.config.common.js
  packages/web/webpack/webpack.config.cypress.js
  packages/web/webpack/webpack.config.dev-remote.js
  packages/web/webpack/webpack.config.dev.js
  packages/web/webpack/webpack.config.prod.js
  packages/web/webpack/webpack.config.translate.js
  yarn.lock
Labels: App: web, Pkg: design-system

#4297 Fix exception for watchSetEtoViewAction
  packages/web/app/modules/eto-view/notAuth/sagas.ts
Labels: App: web

#4287 #3712 investment default wallet
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
  packages/web/app/modules/investment-flow/actions.ts
  packages/web/app/modules/investment-flow/reducer.ts
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/investment-flow/selectors.ts
  packages/web/app/modules/investment-flow/utils.ts
  packages/web/app/modules/wallet/sagas.ts
Labels: App: web

#4300 Fix invest all with empty eth wallet
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/modules/investment-flow/sagas.ts
Labels: App: web

#4298 New onboarding visual fixes
  packages/design-system/src/components/inputs/VirtualizedSelect.modules.scss
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.module.scss
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.unsafe.tsx
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.modules.scss
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/RecoverWalletCheckSeed/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginBrowserWallet/LoginBrowserWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/shared/WalletChooser.tsx
  packages/web/app/components/wallet-selector/shared/browser-wallet/BrowserWalletError.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/DefaultLedgerError/DefaultLedgerError.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/DefaultLedgerError/DefaultLedgerError.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/LedgerOnboardingContainer.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4303 Monstercat RC part2
  packages/design-system/src/components/inputs/VirtualizedSelect.modules.scss
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.module.scss
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.unsafe.tsx
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.modules.scss
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/RecoverWalletCheckSeed/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginBrowserWallet/LoginBrowserWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/shared/WalletChooser.tsx
  packages/web/app/components/wallet-selector/shared/browser-wallet/BrowserWalletError.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/DefaultLedgerError/DefaultLedgerError.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/DefaultLedgerError/DefaultLedgerError.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/LedgerOnboardingContainer.tsx
  packages/web/app/modules/eto-view/notAuth/sagas.ts
  packages/web/app/modules/investment-flow/actions.ts
  packages/web/app/modules/investment-flow/reducer.ts
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/investment-flow/selectors.ts
  packages/web/app/modules/investment-flow/utils.ts
  packages/web/app/modules/wallet/sagas.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4308 [hotfix] zeros in investment wallets in whitelist
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/health-check-sha.json
Labels: App: web
