Repository Neufund/platform-frontend, pull requests merged in 2020-05, with the labels that each got.

#4313 #4301 nominee dashboard fix
  packages/web/app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  packages/web/app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  packages/web/app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  packages/web/app/components/nominee-dashboard/nomineeDashboardContainer/NomineeDashboardContainer.tsx
  packages/web/app/modules/auth/selectors.ts
  packages/web/app/modules/selectors.ts
Labels: App: web

#4304 Onboarding ledger missing states
  packages/design-system/src/components/inputs/Input.module.scss
  packages/shared-utils/src/utils/Validators.spec.ts
  packages/shared-utils/src/utils/Validators.ts
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/AdvancedChooser/AdvancedChooser.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/AdvancedChooser/AdvancedChooser.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/AdvancedChooser/TableControls.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/AdvancedChooser/TableControls.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/SimpleChooser.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/SimpleChooser.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/TableControls.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserBase.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserBase.stories.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserBase.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserError.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserError.tsx
  packages/web/app/lib/web3/ledger-wallet/LedgerConnector.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/constants.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/reducer.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/ui/sagas.ts
  packages/web/intl/locales/en-en.json
  packages/web/webpack/webpack.config.dev.js
Labels: App: web, Pkg: design-system

#4324 #4306 Fix nightly build
  .circleci/config.yml
  packages/web/dangerfile.ts
  packages/web/e2e/e2e-test-tags
  packages/web/package.json
Labels: App: web

#4331 #4327 Nominee flow fix whitelisting
  packages/web/app/modules/bookbuilding-flow/sagas.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4332 Restart services after logout for sign in exceptions
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/test-e2e/other/login/lightwallet/BrowserWalletLogin.spec.e2e.io.ts
Labels: App: web

#4282 #4201 list components
  packages/shared-utils/src/utils/enums/index.ts
  packages/shared-utils/src/utils/enums/isInEnum.spec.ts
  packages/shared-utils/src/utils/enums/isInEnum.ts
  packages/wallet/android/gradle.properties
  packages/wallet/app/AppAuthRouter.tsx
  packages/wallet/app/assets/neufund-logo.svg
  packages/wallet/app/assets/qr-code.svg
  packages/wallet/app/assets/tokens/eth.svg
  packages/wallet/app/assets/tokens/n-eur.svg
  packages/wallet/app/components/Portfolio.tsx
  packages/wallet/app/components/Wallet.tsx
  packages/wallet/app/components/containers/AppContainer.tsx
  packages/wallet/app/components/home/Header.tsx
  packages/wallet/app/components/home/HomeScreen.tsx
  packages/wallet/app/components/home/Section.tsx
  packages/wallet/app/components/import-account/ImportAccountScreen.tsx
  packages/wallet/app/components/landing/LandingScreen.tsx
  packages/wallet/app/components/portfolio/PortfolioScreen.tsx
  packages/wallet/app/components/profile/AddressShare.tsx
  packages/wallet/app/components/profile/Avatar.tsx
  packages/wallet/app/components/profile/ProfileScreen.tsx
  packages/wallet/app/components/shared/HeaderScreen.tsx
  packages/wallet/app/components/shared/Icon.tsx
  packages/wallet/app/components/shared/NeuGradientScreen.tsx
  packages/wallet/app/components/shared/NeuLinearGradient.tsx
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/components/shared/asset/Asset.stories.tsx
  packages/wallet/app/components/shared/asset/Asset.tsx
  packages/wallet/app/components/shared/asset/TokenIcon.tsx
  packages/wallet/app/components/shared/buttons/ButtonIcon.tsx
  packages/wallet/app/components/shared/forms/layouts/Label.tsx
  packages/wallet/app/components/shared/hooks/useStatusBarStyle.ts
  packages/wallet/app/components/shared/panel/Panel.stories.tsx
  packages/wallet/app/components/shared/panel/Panel.tsx
  packages/wallet/app/components/shared/typography/BodyText.tsx
  packages/wallet/app/components/shared/typography/Headline.tsx
  packages/wallet/app/components/switch-account/SwitchAccountScreen.tsx
  packages/wallet/app/components/unlock-account/UnlockAccountScreen.tsx
  packages/wallet/app/components/wallet/WalletScreen.tsx
  packages/wallet/app/styles/colors.ts
  packages/wallet/app/styles/spacings.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/ios/wallet/wallet.entitlements
  packages/wallet/package.json
  packages/wallet/storybook/stories.ts
  yarn.lock
Labels: App: mobile, Pkg: shared-modules

#4337 Email test suites fixes
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/email/verification/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/health-check-sha.json
Labels: App: web

#4334 Fix circleci job mangling
  .circleci/config.yml
  .circleci/install-yarn.sh
Labels: App: web, TECH

#4340 Notifications migration to actions cherry picked from mobile mvp branch
  packages/shared-modules/src/index.ts
  packages/shared-modules/src/modules/notification-ui/actions.ts
  packages/shared-modules/src/modules/notification-ui/module.ts
  packages/wallet/app/modules/notification-ui/actions.ts
  packages/wallet/app/modules/notification-ui/module.ts
  packages/wallet/app/modules/notification-ui/sagas.ts
  packages/web/app/components/translatedMessages/utils.ts
  packages/web/app/di/setupBindings.ts
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/bank-transfer-flow/sagas.ts
  packages/web/app/modules/bookbuilding-flow/sagas.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/eto-flow/sagas.ts
  packages/web/app/modules/eto-nominee/sagas.ts
  packages/web/app/modules/eto-view/investor/sagas.ts
  packages/web/app/modules/eto-view/issuer/sagas.ts
  packages/web/app/modules/eto-view/nominee/sagas.ts
  packages/web/app/modules/eto-view/notAuth/sagas.ts
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/icbm-wallet-balance-modal/sagas.ts
  packages/web/app/modules/immutable-file/sagas.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/kyc/beneficial-owner/sagas.ts
  packages/web/app/modules/kyc/financial-disclosure/sagas.ts
  packages/web/app/modules/kyc/instant-id/id-now/sagas.ts
  packages/web/app/modules/kyc/legal-representative/sagas.ts
  packages/web/app/modules/kyc/sagas.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/notification-modal/sagas.ts
  packages/web/app/modules/notification-ui/module.ts
  packages/web/app/modules/notification-ui/sagas.ts
  packages/web/app/modules/profile/sagas.ts
  packages/web/app/modules/shared/formSingleFileUpload/sagas.ts
  packages/web/app/modules/shared/remoteFile/sagas.ts
  packages/web/app/modules/terms-of-service/sagas.ts
  packages/web/app/modules/tx-history/sagas.ts
  packages/web/app/modules/tx/validator/sagas.ts
  packages/web/app/store.ts
  packages/web/health-check-sha.json
Labels: App: mobile, App: web, Pkg: shared-modules

#4347 Replace reset with logoutDone action
  packages/web/app/modules/auth/reducer.ts
  packages/web/app/modules/auth/user/actions.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
Labels: App: web

#4291 keychain pt1
  packages/wallet/.eslintrc.js
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/java/com/wallet/MainApplication.java
  packages/wallet/android/build.gradle
  packages/wallet/android/gradle/wrapper/gradle-wrapper.properties
  packages/wallet/android/settings.gradle
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/modules/auth/sagas.ts
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/device-information/__mocks__/react-native-device-info.ts
  packages/wallet/app/modules/device-information/bindings.ts
  packages/wallet/app/modules/device-information/module.ts
  packages/wallet/app/modules/device-information/symbols.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.spec.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.ts
  packages/wallet/app/modules/eth/lib/__mocks__/react-native-keychain.ts
  packages/wallet/app/modules/eth/lib/constants.ts
  packages/wallet/app/modules/init/module.ts
  packages/wallet/app/utils/memoryCache.spec.ts
  packages/wallet/app/utils/memoryCache.ts
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/ios/wallet/wallet.entitlements
  packages/wallet/package.json
  packages/wallet/tsconfig.json
  yarn.lock
Labels: App: mobile, App: web, Pkg: shared-modules

#4360 D#/keychain pt1
  packages/wallet/.eslintrc.js
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/java/com/wallet/MainApplication.java
  packages/wallet/android/build.gradle
  packages/wallet/android/gradle/wrapper/gradle-wrapper.properties
  packages/wallet/android/settings.gradle
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/modules/auth/sagas.ts
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/device-information/__mocks__/react-native-device-info.ts
  packages/wallet/app/modules/device-information/bindings.ts
  packages/wallet/app/modules/device-information/module.ts
  packages/wallet/app/modules/device-information/symbols.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.spec.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.ts
  packages/wallet/app/modules/eth/lib/__mocks__/react-native-keychain.ts
  packages/wallet/app/modules/eth/lib/constants.ts
  packages/wallet/app/modules/init/module.ts
  packages/wallet/app/utils/memoryCache.spec.ts
  packages/wallet/app/utils/memoryCache.ts
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/ios/wallet/wallet.entitlements
  packages/wallet/package.json
  packages/wallet/tsconfig.json
  yarn.lock
Labels: App: mobile

#4321 move tx history module to shared
  packages/shared-modules/src/index.ts
  packages/shared-modules/src/lib/yup-ts.spec.ts
  packages/shared-modules/src/lib/yup-ts.unsafe.ts
  packages/shared-modules/src/messages.ts
  packages/shared-modules/src/modules/auth/module.ts
  packages/shared-modules/src/modules/tx-history/actions.ts
  packages/shared-modules/src/modules/tx-history/bindings.ts
  packages/shared-modules/src/modules/tx-history/constants.ts
  packages/shared-modules/src/modules/tx-history/lib/http/analytics-api/AnalyticsApi.ts
  packages/shared-modules/src/modules/tx-history/lib/http/analytics-api/interfaces.ts
  packages/shared-modules/src/modules/tx-history/messages.ts
  packages/shared-modules/src/modules/tx-history/module.ts
  packages/shared-modules/src/modules/tx-history/reducer.ts
  packages/shared-modules/src/modules/tx-history/sagas.spec.ts
  packages/shared-modules/src/modules/tx-history/sagas.ts
  packages/shared-modules/src/modules/tx-history/selectors.ts
  packages/shared-modules/src/modules/tx-history/symbols.ts
  packages/shared-modules/src/modules/tx-history/types.ts
  packages/shared-modules/src/modules/tx-history/utils.ts
  packages/web/app/components/shared/transaction/Transaction.stories.tsx
  packages/web/app/components/shared/transaction/TransactionName.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/translatedMessages/utils.ts
  packages/web/app/components/wallet/transactions-history/TransactionDetailsModal.stories.tsx
  packages/web/app/components/wallet/transactions-history/TransactionDetailsModal.tsx
  packages/web/app/components/wallet/transactions-history/TransactionsHistory.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/BasicTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/EtoInvestmentTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/EtoRefundTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/EtoTokensClaimTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/NEurDestroyTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/NEurPurchaseTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/NEurRedeemTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/PayoutTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/RedistributePayoutTransactionDetails.tsx
  packages/web/app/components/wallet/transactions-history/transaction-modal-content/TransferTransactionDetails.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/di/symbols.ts
  packages/web/app/lib/yup-ts.spec.ts
  packages/web/app/lib/yup-ts.unsafe.tsx
  packages/web/app/modules/actions.ts
  packages/web/app/modules/notification-ui/sagas.ts
  packages/web/app/modules/reducer.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/tx-history/constants.ts
  packages/web/app/modules/tx-history/module.ts
  packages/web/app/modules/tx-history/sagas.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/app/modules/tx/monitor/selectors.ts
  packages/web/app/modules/tx/types.ts
  packages/web/app/modules/tx/utils.spec.ts
  packages/web/app/modules/tx/utils.ts
  packages/web/app/store.ts
  packages/web/health-check-sha.json
Labels: App: web, Pkg: design-system, Pkg: sagas, Pkg: shared-modules

#4365 Investment opportunities UI
  packages/eslint-config/react.js
  packages/wallet/.eslintignore
  packages/wallet/.prettierignore
  packages/wallet/app/assets/images/emfluxmotors@2x.png
  packages/wallet/app/assets/images/greyp@2x.png
  packages/wallet/app/assets/images/icbm@2x.png
  packages/wallet/app/assets/images/myswooop@2x.png
  packages/wallet/app/assets/images/neufund@2x.png
  packages/wallet/app/assets/images/ngrave@2x.png
  packages/wallet/app/assets/images/nucao@2x.png
  packages/wallet/app/components/screens/HomeScreen/EtoCard.stories.tsx
  packages/wallet/app/components/screens/HomeScreen/EtoCard.tsx
  packages/wallet/app/components/screens/HomeScreen/Header.tsx
  packages/wallet/app/components/screens/HomeScreen/HomeScreen.tsx
  packages/wallet/app/components/screens/ImportAccountScreen/ImportAccountScreenForm.tsx
  packages/wallet/app/components/screens/LandingScreen/LandingScreen.tsx
  packages/wallet/app/components/screens/ProfileScreen/Header/AddressShare.tsx
  packages/wallet/app/components/screens/ProfileScreen/ProfileScreen.tsx
  packages/wallet/app/components/screens/UnlockAccountScreen/UnlockAccountScreen.tsx
  packages/wallet/app/components/screens/WalletScreen/TransactionSection/PendingTransaction.tsx
  packages/wallet/app/components/screens/WalletScreen/TransactionSection/SuccessfulTransaction.tsx
  packages/wallet/app/components/screens/WebViewScreen/WebViewScreen.tsx
  packages/wallet/app/components/shared/asset/Asset.tsx
  packages/wallet/app/components/shared/asset/TokenIcon.tsx
  packages/wallet/app/components/shared/buttons/Button.stories.tsx
  packages/wallet/app/components/shared/buttons/ButtonIcon.stories.tsx
  packages/wallet/app/components/shared/forms/fields/Form.tsx
  packages/wallet/app/components/shared/forms/layouts/ErrorMessage.tsx
  packages/wallet/app/components/shared/forms/layouts/FieldLayout.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/FieldLayout.tsx
  packages/wallet/app/components/shared/forms/layouts/HelperText.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/switcher/Switcher.stories.tsx
  packages/wallet/app/components/shared/typography/BodyText.stories.tsx
  packages/wallet/app/components/shared/typography/Headline.stories.tsx
  packages/wallet/app/components/shared/typography/HelperText.tsx
  packages/wallet/app/components/shared/typography/Typography.stories.tsx
  packages/wallet/app/router/AppAuthRouter.tsx
  packages/wallet/app/router/appRoutes.ts
  packages/wallet/app/router/routeUtils.ts
  packages/wallet/app/styles/spacings.ts
  packages/wallet/ios/Podfile
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/package.json
  packages/wallet/storybook/index.tsx
  packages/wallet/storybook/stories.ts
  packages/wallet/storybook/storyLoader.js
  yarn.lock
Labels: App: mobile, App: web

#4373 filters our test, mock and library artifacts from wrapping
  packages/wallet/scripts/generate-contracts.js
  packages/web/scripts/generate-contracts.js
  packages/web/webpack/loadAppEnv.js
Labels: App: mobile, App: web

#4370 #4353 fix android loading animation
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/app/components/containers/AppContainer.tsx
  packages/wallet/app/components/shared/LoadingIndicator.tsx
  packages/wallet/index.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/package.json
  packages/wallet/storybook/.env.storybook
  packages/wallet/storybook/README.md
  yarn.lock
Labels: App: mobile, App: web

#4381 #2638 iframe csp
  packages/web/app/components/shared/TwitterTimeline.tsx
  packages/web/app/external/pitch-deck-iframe.html
  packages/web/app/external/sanitize-url/sanitize-url.js
  packages/web/app/external/sanitize-url/sanitize-url.spec.js
  packages/web/app/external/twitter-iframe.html
  packages/web/package.json
  packages/web/webpack/webpack.config.dev.js
Labels: App: web
