Repository Neufund/platform-frontend, pull requests merged in 2020-02, with the labels that each got.

#3986 Update wallet readme to mention `pod install` before starting IOS app
  packages/wallet/README.md
  packages/wallet/ios/wallet/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/web/health-check-sha.json
Labels: Mobile

#3953 #3691 Update bootstrap
  packages/web/app/components/shared/forms/fields/FormStyles.module.scss
  packages/web/app/components/shared/tooltips/Tooltip.module.scss
  packages/web/app/components/shared/tooltips/TooltipBase.tsx
  packages/web/app/styles/overrides.scss
  packages/web/package.json
  yarn.lock
Labels: QA

#4009 Update docker tag
  packages/web/e2e/run_backend.sh
  packages/web/health-check-sha.json
Labels: TECH

#4011 Fix inline icon stories loading incorrectly
  packages/web/app/components/shared/icons/InlineIcon.stories.tsx
  packages/web/health-check-sha.json
Labels: TECH

#4008 #3943 Redesign header and footer
  packages/design-system/src/components/buttons/Button.module.scss
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/styles/mixins/typography.scss
  packages/design-system/src/styles/variables.scss
  packages/web/app/assets/img/inline_icons/close.svg
  packages/web/app/assets/img/user-profile.svg
  packages/web/app/components/layouts/Footer.module.scss
  packages/web/app/components/layouts/Footer.tsx
  packages/web/app/components/layouts/FullscreenProgressLayout.module.scss
  packages/web/app/components/layouts/Layout.stories.tsx
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/layouts/header/Header.module.scss
  packages/web/app/components/layouts/header/Header.stories.tsx
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/layouts/header/HeaderFullscreen.stories.tsx
  packages/web/app/components/layouts/header/HeaderFullscreen.tsx
  packages/web/app/components/layouts/menus/MyAccountMenu.module.scss
  packages/web/app/components/layouts/menus/MyAccountMenu.tsx
  packages/web/app/components/shared/inputs/TextInput.module.scss
  packages/web/intl/locales/en-en.json
Labels: QA

#4053 Add labels to Pr's automatically
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/boring-cyborg.yml
  packages/web/health-check-sha.json
Labels: TECH

#4040 3992-wallet-storybook
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/app/components/Dashboard.stories.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/components/common/buttons/Button.stories.tsx
  packages/wallet/app/components/common/buttons/Button.tsx
  packages/wallet/index.ts
  packages/wallet/index.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/package.json
  packages/wallet/storybook/.storybook-config
  packages/wallet/storybook/README.md
  packages/wallet/storybook/addons.ts
  packages/wallet/storybook/assets/web-integration-demo.gif
  packages/wallet/storybook/index.tsx
  packages/wallet/storybook/rn-addons.ts
  packages/wallet/storybook/stories.ts
  packages/web/package.json
  yarn.lock
Labels: App: mobile, App: web

#3954 Getting started documentation
  packages/web/README.md
  packages/web/health-check-sha.json
Labels: App: web

#4067 #3942 verify email redirect fix
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.module.scss
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/routing/selectors.ts
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
Labels: App: web

#4071 [DO NOT MERGE] - Degital Shamans RC Pt 4
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/boring-cyborg.yml
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/androidTest/java/com/wallet/DetoxTest.java
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/android/build.gradle
  packages/wallet/app/components/Dashboard.stories.tsx
  packages/wallet/app/components/ImportWallet.spec.tsx
  packages/wallet/app/components/ImportWallet.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/components/common/buttons/Button.stories.tsx
  packages/wallet/app/components/common/buttons/Button.tsx
  packages/wallet/index.ts
  packages/wallet/index.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/jest.config.js
  packages/wallet/package.json
  packages/wallet/storybook/.storybook-config
  packages/wallet/storybook/README.md
  packages/wallet/storybook/addons.ts
  packages/wallet/storybook/assets/web-integration-demo.gif
  packages/wallet/storybook/index.tsx
  packages/wallet/storybook/rn-addons.ts
  packages/wallet/storybook/stories.ts
  packages/wallet/tests/e2e/README.md
  packages/wallet/tests/e2e/import-wallet/ImportWalletFromPrivateKey.spec.ts
  packages/wallet/tests/e2e/init.ts
  packages/wallet/tests/e2e/jest.config.json
  packages/wallet/tsconfig.e2e.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.spec.json
  packages/web/README.md
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.module.scss
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/routing/selectors.ts
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/cypress/support/filterTestsByTags.js
  packages/web/cypress/support/index.js
  packages/web/health-check-sha.json
  packages/web/package.json
  yarn.lock
Labels: App: mobile

#4055 Adds new breaking space
  packages/web/intl/locales/en-en.json
Labels: App: web

#4058 Fix KYC header close icon
  packages/web/app/assets/img/inline_icons/close.svg
  packages/web/app/components/layouts/header/Header.module.scss
  packages/web/app/components/layouts/header/HeaderFullscreen.tsx
Labels: App: web

#4024 removes arbitary polling delays in sagas
  packages/shared/src/utils/constants.ts
  packages/web/app/config/constants.ts
  packages/web/app/modules/bookbuilding-flow/sagas.ts
  packages/web/app/modules/eto-nominee/sagas.ts
  packages/web/app/modules/icbm-wallet-balance-modal/sagas.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/shared/tokenPrice/sagas.ts
  packages/web/app/modules/tx-history/constants.ts
  packages/web/app/modules/tx-history/sagas.ts
  packages/web/app/modules/tx/event-channel/sagas.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/health-check-sha.json
Labels: App: web, Pkg: shared, TECH

#4078 HOTFIX - Changes default empty data to contain "0x"
  packages/web/app/modules/tx/utils.ts
  packages/web/health-check-sha.json
Labels: App: web

#4062 #3950 seed recovery refactor
  packages/web/app/components/kyc/shared/KycStep.tsx
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.modules.scss
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  packages/web/app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWalletCheckSeed.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoveryStep.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.spec.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/RecoverRouter.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/recoverRoutes.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  packages/web/app/modules/notification-modal/actions.ts
  packages/web/app/modules/routing/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Labels: App: mobile, App: web, Pkg: shared, Pkg: shared-modules

#4082 At/#3950 move virtualized select to nds package -> onBoaridng
  packages/design-system/src/components/inputs/VirtualizedSelect.modules.scss
  packages/design-system/src/components/inputs/VirtualizedSelect.tsx
  packages/design-system/src/components/inputs/index.ts
  packages/design-system/src/index.ts
  packages/web/app/components/eto/shared/EtoTagWidget.unsafe.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/health-check-sha.json
Labels: App: web, Pkg: design-system

#4087 Fix broken storybook production build
  packages/web/app/index.tsx
  packages/web/app/store.ts
  packages/web/health-check-sha.json
Labels: App: web, TECH

#4017 Setup Docs for Storybook
  packages/design-system/.storybook/addons.js
  packages/design-system/.storybook/config.js
  packages/design-system/.storybook/main.js
  packages/design-system/package.json
  packages/design-system/src/components/buttons/Button.md
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/storybook-decorators.tsx
  packages/design-system/typings/files.d.ts
  packages/web/health-check-sha.json
  yarn.lock
Labels: App: web, Pkg: design-system, TECH

#4066 Tagged Other automation flow tests
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/general-app/AutoLoginLogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/landing/LandingPage.spec.e2e.io.ts
  packages/web/app/test-e2e/link-triggered-flows/WalletVerify.spec.e2e.io.ts
  packages/web/app/test-e2e/other/CriticalError.spec.e2e.io.ts
  packages/web/app/test-e2e/other/OfflineMode.spec.e2e.io.ts
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/email/verification/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/IssuerLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/JWT.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/Backup.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/AuthenticationRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/EthereumRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/utils.ts
  packages/web/app/test-e2e/register/LightWalletETOLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/register/LightWalletETORegister.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/UserRouting.spec.e2e.io.ts
Labels: App: web

#4083 E2E test enhancments
  packages/web/app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  packages/web/app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.ts
  packages/web/app/test-e2e/investor/kyc/IDnow.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/kyc/KYC.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/payout/IncomingPayout.spec.e2e.io.ts
  packages/web/app/test-e2e/obsolete/KYCFlowIndividualManual.spec.e2e-obsolete.io.ts
  packages/web/health-check-sha.json
  packages/web/package.json
Labels: App: web

#4104 Move Text Field & Checkbox to design system package
  packages/design-system/package.json
  packages/design-system/src/components/buttons/ButtonBase.stories.tsx
  packages/design-system/src/components/buttons/ButtonGroup.stories.tsx
  packages/design-system/src/components/buttons/ButtonInline.stories.tsx
  packages/design-system/src/components/buttons/CircleButton.stories.tsx
  packages/design-system/src/components/buttons/CommonButtons.stories.tsx
  packages/design-system/src/components/inputs/Checkbox.md
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.stories.tsx
  packages/design-system/src/components/inputs/Checkbox.tsx
  packages/design-system/src/components/inputs/Input.module.scss
  packages/design-system/src/components/inputs/Input.stories.tsx
  packages/design-system/src/components/inputs/Input.tsx
  packages/design-system/src/components/inputs/InputBase.module.scss
  packages/design-system/src/components/inputs/InputBase.stories.tsx
  packages/design-system/src/components/inputs/InputBase.tsx
  packages/design-system/src/components/inputs/InputDescription.module.scss
  packages/design-system/src/components/inputs/InputDescription.stories.tsx
  packages/design-system/src/components/inputs/InputDescription.tsx
  packages/design-system/src/components/inputs/InputError.module.scss
  packages/design-system/src/components/inputs/InputError.stories.tsx
  packages/design-system/src/components/inputs/InputError.tsx
  packages/design-system/src/components/inputs/LabelBase.module.scss
  packages/design-system/src/components/inputs/LabelBase.stories.tsx
  packages/design-system/src/components/inputs/LabelBase.tsx
  packages/design-system/src/components/inputs/TextField.module.scss
  packages/design-system/src/components/inputs/TextField.stories.tsx
  packages/design-system/src/components/inputs/TextField.tsx
  packages/design-system/src/components/inputs/VirtualizedSelect.module.scss
  packages/design-system/src/components/inputs/VirtualizedSelect.tsx
  packages/design-system/src/components/inputs/icons.ts
  packages/design-system/src/components/inputs/index.ts
  packages/design-system/src/components/inputs/utils.ts
  packages/design-system/src/index.ts
  packages/design-system/src/utils/yupUtils.ts
  packages/web/app/assets/img/inline_icons/password-eye_masked.svg
  packages/web/app/assets/img/inline_icons/password-eye_unmasked.svg
  packages/web/app/components/eto/registration/EtoFormBase.tsx
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/components/shared/forms/bare-fields/utils.tsx
  packages/web/app/components/shared/forms/fields/FormFieldColorful.tsx
  packages/web/app/components/shared/forms/fields/FormFieldDate.tsx
  packages/web/app/components/shared/forms/fields/FormFieldError.tsx
  packages/web/app/components/shared/forms/fields/FormInput.tsx
  packages/web/app/components/shared/forms/fields/FormMaskedNumberInput.tsx
  packages/web/app/components/shared/forms/fields/FormRange.tsx
  packages/web/app/components/shared/forms/fields/FormTextArea.tsx
  packages/web/app/components/shared/forms/fields/NumberTransformingField.tsx
  packages/web/app/components/shared/forms/fields/form-select-fields/FormSelectField.tsx
  packages/web/app/components/shared/forms/fields/utils.spec.ts
  packages/web/app/components/shared/forms/fields/utils.tsx
  packages/web/app/components/shared/inputs/LabelBase.stories.tsx
  packages/web/app/components/shared/inputs/TextField.stories.tsx
  packages/web/app/lib/api/kyc/KycApi.interfaces.ts
  packages/web/app/utils/yupUtils.spec.ts
Labels: Pkg: design-system

#4106 #3949 metamask login
  packages/design-system/src/components/inputs/VirtualizedSelect.modules.scss
  packages/web/app/assets/img/inline_icons/password-eye_masked.svg
  packages/web/app/assets/img/inline_icons/password-eye_unmasked.svg
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/browser/WalletBrowser.module.scss
  packages/web/app/components/wallet-selector/browser/WalletBrowser.stories.tsx
  packages/web/app/components/wallet-selector/browser/WalletBrowser.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/reducer.ts
  packages/web/app/test-e2e/other/routing/EthereumRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4063 #4029 Create new tables
  packages/design-system/package.json
  packages/design-system/src/assets/img/token_icon.svg
  packages/design-system/src/components/icons/TokenIcon.module.scss
  packages/design-system/src/components/icons/TokenIcon.stories.tsx
  packages/design-system/src/components/icons/TokenIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/components/shared/Image.module.scss
  packages/design-system/src/components/shared/Image.tsx
  packages/design-system/src/components/tables/Table.module.scss
  packages/design-system/src/components/tables/Table.stories.tsx
  packages/design-system/src/components/tables/Table.unsafe.tsx
  packages/design-system/src/components/tables/TableLazy.tsx
  packages/design-system/src/components/token-details/TokenDetails.module.scss
  packages/design-system/src/components/token-details/TokenDetails.stories.tsx
  packages/design-system/src/components/token-details/TokenDetails.tsx
  packages/design-system/src/index.ts
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.tsx
  packages/web/app/components/dashboard/my-wallet/MyWalletWidget.tsx
  packages/web/app/components/eto/eto-full-view/shared/cover/Cover.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTransactionDetails.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/MoneySuiteWidget/MoneySuiteWidget.tsx
  packages/web/app/components/shared/ResponsiveImage.tsx
  packages/web/app/components/shared/SlidePerson.tsx
  packages/web/app/components/shared/icons/CurrencyIcon.tsx
  yarn.lock
Labels: App: web, Pkg: design-system

#4111 HOTFIX - move forums to post
  packages/web/app/components/eto/registration/pages/EtoMedia.tsx
  packages/web/app/components/eto/registration/pages/LegalInformation/legalInformationFormStateConverters.ts
  packages/web/app/components/eto/utils.ts
  packages/web/app/modules/eto-flow/sagas.ts
  packages/web/health-check-sha.json
Labels: App: web

#4094 #3981 LightWallet login redesign
  packages/design-system/src/components/buttons/ButtonInline.module.scss
  packages/design-system/src/components/inputs/InputError.module.scss
  packages/design-system/src/index.ts
  packages/web/app/components/eto/registration/eto-tags-widget/EtoTagWidget.unsafe.tsx
  packages/web/app/components/layouts/Content.module.scss
  packages/web/app/components/layouts/Layout.module.scss
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/layouts/LayoutWrapper.tsx
  packages/web/app/components/shared/Heading.module.scss
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.stories.tsx
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/WalletChooser.tsx
  packages/web/app/components/wallet-selector/WalletSelectorContainer.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/light/Login/LoginLightWallet.stories.tsx
  packages/web/app/components/wallet-selector/light/Login/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/light/Login/LoginWithEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/light/WalletLight.module.scss
  packages/web/app/modules/routing/actions.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4054 KYC time to finish
  packages/web/app/components/dashboard/onboarding/AccountSetupKycComponent.module.scss
  packages/web/app/components/dashboard/onboarding/AccountSetupKycComponent.stories.tsx
  packages/web/app/components/dashboard/onboarding/AccountSetupKycComponent.tsx
  packages/web/app/components/dashboard/onboarding/Onboarding.module.scss
  packages/web/app/components/dashboard/onboarding/Onboarding.stories.tsx
  packages/web/app/components/dashboard/onboarding/Onboarding.tsx
  packages/web/app/components/dashboard/onboarding/OnboardingKycPending.tsx
  packages/web/app/components/dashboard/onboarding/onboardingData.tsx
  packages/web/app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  packages/web/app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  packages/web/app/components/settings/kyc-states/KycStatusWidget.tsx
  packages/web/app/components/settings/kyc-states/connectKycStatus.ts
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4085 Lightwallet register
  packages/design-system/.storybook/main.js
  packages/design-system/src/components/inputs/Input.module.scss
  packages/design-system/src/components/inputs/Input.stories.tsx
  packages/design-system/src/components/inputs/TextField.module.scss
  packages/design-system/src/components/inputs/TextField.stories.tsx
  packages/design-system/src/components/inputs/TextField.tsx
  packages/design-system/src/components/inputs/VirtualizedSelect.module.scss
  packages/design-system/src/components/inputs/VirtualizedSelect.stories.tsx
  packages/design-system/src/components/inputs/VirtualizedSelect.tsx
  packages/design-system/src/storybook-decorators.tsx
  packages/web/app/components/layouts/LayoutWrapper.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWallet.tsx
  packages/web/app/modules/actions.ts
  packages/web/app/modules/auth/selectors.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/terms-of-service/actions.ts
  packages/web/app/modules/terms-of-service/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4093 Fix ETO offering document tag
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/eto-investment-terms-widget/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/eto-investment-terms-widget/InvestmentAmount.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/public-view/InvestmentAmount.tsx
  packages/web/app/components/eto/shared/EtoView.stories.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/eto/shared/ToBeAnnouncedTooltip.module.scss
  packages/web/app/components/eto/shared/ToBeAnnouncedTooltip.tsx
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto-view/shared/utils.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4119 Fix missing received tokens
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.stories.tsx
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.tsx
  packages/web/health-check-sha.json
Labels: App: web

#4127 Break Register copy into two lines
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/RegisterNowWidget.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4126 Fix can't remove media link
  packages/web/app/components/eto/registration/pages/EtoMedia.tsx
  packages/web/app/components/eto/utils.spec.ts
  packages/web/app/components/eto/utils.ts
  packages/web/app/components/shared/SocialProfilesEditor.tsx
Labels: App: web

#4128 Hotfix: Can't remove media link fix
  packages/web/app/components/eto/registration/pages/EtoMedia.tsx
  packages/web/app/components/eto/utils.spec.ts
  packages/web/app/components/eto/utils.ts
  packages/web/app/components/shared/SocialProfilesEditor.tsx
  packages/web/health-check-sha.json
Labels: App: web
