Repository Neufund/platform-frontend, pull requests merged in 2020-03, with the labels that each got.

#4105 #4069 connect mobile app with CI
  .circleci/config.yml
  packages/wallet/package.json
  packages/wallet/patches/@types+detox+14.5.2.patch
  packages/wallet/patches/README.md
  packages/wallet/patches/react-native-gesture-handler+1.5.6.patch
  packages/wallet/tsconfig.e2e.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.unit.json
  packages/wallet/typings/reach__router.d.ts
  yarn.lock
Labels: App: mobile, App: web, TECH

#4089 #4030 Portfolio redesign
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/tables/Table.module.scss
  packages/design-system/src/components/tables/TableLazy.tsx
  packages/design-system/src/components/tables/index.ts
  packages/design-system/src/components/token-details/TokenDetails.module.scss
  packages/design-system/src/components/token-details/TokenDetails.tsx
  packages/design-system/src/components/token-details/index.ts
  packages/design-system/src/index.ts
  packages/web/app/components/portfolio/AssetPortfolio.stories.tsx
  packages/web/app/components/portfolio/AssetPortfolio.tsx
  packages/web/app/components/portfolio/Portfolio.tsx
  packages/web/app/components/portfolio/PortfolioAssetAction.tsx
  packages/web/app/components/portfolio/PortfolioLayout.module.scss
  packages/web/app/components/portfolio/PortfolioLayout.stories.tsx
  packages/web/app/components/portfolio/PortfolioLayout.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.stories.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/Heading.module.scss
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/app/modules/wallet/selectors.ts
  packages/web/app/test-e2e/vis-reg/Investor.spec.e2e.visreg.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4138 Sol Music Production RC Pt2
  .circleci/config.yml
  docs/e2e-tests.md
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/tables/Table.module.scss
  packages/design-system/src/components/tables/TableLazy.tsx
  packages/design-system/src/components/tables/index.ts
  packages/design-system/src/components/token-details/TokenDetails.module.scss
  packages/design-system/src/components/token-details/TokenDetails.tsx
  packages/design-system/src/components/token-details/index.ts
  packages/design-system/src/index.ts
  packages/wallet/package.json
  packages/wallet/patches/@types+detox+14.5.2.patch
  packages/wallet/patches/README.md
  packages/wallet/patches/react-native-gesture-handler+1.5.6.patch
  packages/wallet/tsconfig.e2e.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.unit.json
  packages/wallet/typings/reach__router.d.ts
  packages/web/app/components/portfolio/AssetPortfolio.stories.tsx
  packages/web/app/components/portfolio/AssetPortfolio.tsx
  packages/web/app/components/portfolio/Portfolio.tsx
  packages/web/app/components/portfolio/PortfolioAssetAction.tsx
  packages/web/app/components/portfolio/PortfolioLayout.module.scss
  packages/web/app/components/portfolio/PortfolioLayout.stories.tsx
  packages/web/app/components/portfolio/PortfolioLayout.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.stories.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/Heading.module.scss
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/app/modules/wallet/selectors.ts
  packages/web/app/test-e2e/vis-reg/Investor.spec.e2e.visreg.ts
  packages/web/codechecks.ts
  packages/web/cypress/support/filterTestsByTags.js
  packages/web/cypress/support/index.js
  packages/web/dangerfile.ts
  packages/web/intl/locales/en-en.json
  packages/web/package.json
  packages/web/webpack/webpack.config.ci.prod.js
  packages/web/webpack/webpack.config.prod.js
  yarn.lock
Labels: App: mobile, App: web, Pkg: design-system

#4135 Fix people slider issues
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/Individuals.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/utils.ts
  packages/web/app/components/shared/PeopleSwiperWidget.tsx
Labels: App: web

#4140 Sol Music Production RC Pt3
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/Individuals.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/utils.ts
  packages/web/app/components/shared/PeopleSwiperWidget.tsx
Labels: App: web

#4088 4048 Application storage
  packages/wallet/android/settings.gradle
  packages/wallet/app/classes/AppError.ts
  packages/wallet/app/components/ImportWallet.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/init/actions.ts
  packages/wallet/app/modules/init/reducer.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/init/selectors.ts
  packages/wallet/app/modules/sagas.tsx
  packages/wallet/app/modules/storage/__mocks__/@react-native-community/async-storage.ts
  packages/wallet/app/modules/storage/bindings.ts
  packages/wallet/app/modules/storage/classes/AppSingleKeyStorage.ts
  packages/wallet/app/modules/storage/classes/AppStorage.spec.ts
  packages/wallet/app/modules/storage/classes/AppStorage.ts
  packages/wallet/app/modules/storage/classes/ApplicationStorageError.ts
  packages/wallet/app/modules/storage/classes/AsyncStorageProvider.spec.ts
  packages/wallet/app/modules/storage/classes/AsyncStorageProvider.ts
  packages/wallet/app/modules/storage/classes/SchemaMismatchError.ts
  packages/wallet/app/modules/storage/classes/StorageItem.ts
  packages/wallet/app/modules/storage/classes/StorageMetaData.spec.ts
  packages/wallet/app/modules/storage/classes/StorageMetaData.ts
  packages/wallet/app/modules/storage/classes/StorageSchema.spec.ts
  packages/wallet/app/modules/storage/classes/StorageSchema.ts
  packages/wallet/app/modules/storage/index.ts
  packages/wallet/app/modules/storage/module.ts
  packages/wallet/app/modules/storage/symbols.ts
  packages/wallet/app/modules/storage/types/AsyncStorage.d.ts
  packages/wallet/app/modules/storage/types/ISecureStorageProvider.ts
  packages/wallet/app/modules/storage/types/IStorageItem.ts
  packages/wallet/app/modules/storage/types/IStorageMetadata.ts
  packages/wallet/app/modules/storage/types/IStorageSchema.ts
  packages/wallet/app/store/create.tsx
  packages/wallet/babel.config.js
  packages/wallet/ios/Podfile.lock
  packages/wallet/jest-setup-file.ts
  packages/wallet/jest.config.js
  packages/wallet/package.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.unit.json
  packages/wallet/typedoc.json
  packages/web/health-check-sha.json
  yarn.lock
Labels: App: mobile

#4137 Adds custom fetch wrapper
  .circleci/config.yml
  packages/shared-modules/src/modules/core/lib/logger/index.ts
  packages/web/app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  packages/web/app/components/portfolio/AssetPortfolio.tsx
  packages/web/app/test-e2e/investor/bank/purchase/Purchase.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.ts
  packages/web/app/test-e2e/investor/invest/InvestWithoutMoney.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/ModalTokenPrice.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/eth/InvestWithEther.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/neur/InvestWithNEur.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/payout/Payouts.spec.e2e.ts
  packages/web/app/test-e2e/investor/wallet/TransactionsHistory.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/Transfer.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/forms/TypeOfEto.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/e2e/setup-e2e.sh
  packages/web/health-check-sha.json
  packages/web/package.json
  packages/web/webpack/webpack.config.ci.prod.js
Labels: App: web, Pkg: shared-modules

#4158 HOTFIX - Fix ETO view merge misses (#4148)
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.module.scss
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.tsx
  packages/web/app/components/eto/eto-full-view/shared/EtoView.stories.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/CampaignOverviewLayout.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.spec.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.tsx
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto-view/shared/types.ts
  packages/web/app/modules/eto-view/shared/utils.spec.ts
  packages/web/app/modules/eto-view/shared/utils.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/issuer/eto/forms/CompanyInformationOverwrite.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/RenderingWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/WidgetBasicViewInStates.spec.e2e.io.ts
  packages/web/package.json
Labels: App: web

#4161 Remove tests utils duplicates
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.spec.tsx
  packages/web/app/components/dashboard/my-portfolio/my-portfolio-widget/PayoutWidget.spec.tsx
  packages/web/app/components/dashboard/my-wallet/MyWalletWidget.spec.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CounterWidget.spec.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.spec.tsx
  packages/web/app/components/layouts/menus/MenuBase.spec.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTransactionDetails.spec.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/Init/EtherAddressFormRow/EtherAddressFormRow.spec.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedDisplay.spec.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.spec.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedWidget.spec.tsx
  packages/web/app/components/settings/verify-email/VerifyEmailWidget.spec.tsx
  packages/web/app/components/shared/BreadCrumb.spec.tsx
  packages/web/app/components/shared/PercentageIndicatorBar.spec.tsx
  packages/web/app/components/shared/forms/fields/FormFieldCheckboxGroup.spec.tsx
  packages/web/app/components/shared/forms/fields/FormFieldLabel.spec.tsx
  packages/web/app/components/shared/forms/fields/FormToggle.spec.tsx
  packages/web/app/components/shared/notification-widget/Notification.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelector.integration.spec.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerChooserComponent.spec.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerChooserTableAdvanced.spec.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerChooserTableSimple.spec.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerDPChooser.spec.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerInitComponent.spec.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.spec.tsx
  packages/web/app/lib/api/client/AuthJsonHttpClient.spec.ts
  packages/web/app/lib/api/client/JsonHttpClient.spec.ts
  packages/web/app/lib/persistence/ObjectStorage.spec.ts
  packages/web/app/lib/persistence/Storage.mock.ts
  packages/web/app/lib/web3/Web3Batch/Web3Batch.spec.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.spec.ts
  packages/web/app/lib/web3/light-wallet/LightWallet.spec.node.ts
  packages/web/app/lib/web3/light-wallet/lightWalletUtils.spec.node.ts
  packages/web/app/lib/yup-ts.spec.ts
  packages/web/app/modules/tx/transactions/token-transfer/sagas.spec.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/web3/sagas.spec.ts
  packages/web/app/utils/react-connected-components/onEnterAction.spec.tsx
  packages/web/app/utils/react-connected-components/withActionWatcher.spec.tsx
  packages/web/app/utils/yupUtils.spec.ts
  packages/web/test/createMount.ts
  packages/web/test/integrationTestUtils.unsafe.tsx
  packages/web/test/setupTestsHooks.ts
  packages/web/test/testUtils.ts
Labels: App: web, TECH

#4163 #4162 Company listing timeline copy changes
  packages/web/intl/locales/en-en.json
Labels: App: web

#4122 Adds Vault Confirmation on Recovery
  packages/shared/src/utils/constants.ts
  packages/web/app/lib/api/vault/VaultApi.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
Labels: App: web, Blocked, Pkg: shared

#4142 Fix ETO layout alignment issues
  packages/design-system/src/components/tables/Table.module.scss
  packages/web/app/components/eto/eto-full-view/shared/EtoAccordionElements.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/CampaignOverviewLayout.tsx
  packages/web/app/components/shared/Field.tsx
Labels: App: web, Pkg: design-system

#4160 #4154 Update company listing page
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/eto-investment-terms-widget/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/eto-investment-terms-widget/InvestmentAmount.tsx
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4184 Typescript disallow unreachable code
  packages/web/health-check-sha.json
  packages/web/tsconfig.json
Labels: App: web, TECH

#4155 #4153 Fix ETO reload view data saga
  packages/web/app/modules/eto-view/shared/sagas.spec.ts
  packages/web/app/modules/eto-view/shared/sagas.ts
Labels: App: web

#4188 Fixes master branch conflict
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/health-check-sha.json
Labels: App: web

#4189 Fixes flaky e2e tests
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
Labels: App: web, E2E test

#4174 #4166 Fix legal information widget word-break
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.module.scss
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.tsx
  packages/web/app/components/shared/charts/ChartLegend.module.scss
  packages/web/health-check-sha.json
Labels: App: web, Visual Fix

#4177 #4165 Fix media links not preserving capital letters
  packages/web/app/components/shared/MediaLinksEditor.tsx
  packages/web/app/components/shared/MediaLinksWidget.tsx
  packages/web/app/test-e2e/issuer/eto/view/components/MediaLinksWidget.spec.e2e.io.ts
Labels: App: web

#4185 ETO.Pitch.Impact
  packages/web/app/components/eto/eto-full-view/shared/EtoAccordionElements.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/EtoRegistrationPitch.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/validateEtoRegistrationPitch.tsx
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/test-e2e/issuer/eto/fixtures.ts
  packages/web/intl/locales/en-en.json
  packages/web/test/fixtures.ts
Labels: App: web

#4117 Change ETO iframe statistics URL to a new dynamic ETO route in icomonitor
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/fundrising-stats/EtoViewFundraisingStatistics.tsx
  packages/web/app/config/.env.common
  packages/web/app/config/externalRoutes.ts
  packages/web/app/config/getConfig.ts
  packages/web/test/fixtures.ts
Labels: App: web

#4194 Dharma Production RC pt 2
  packages/web/app/components/eto/eto-full-view/shared/EtoAccordionElements.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/fundrising-stats/EtoViewFundraisingStatistics.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.module.scss
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/EtoRegistrationPitch.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/validateEtoRegistrationPitch.tsx
  packages/web/app/components/shared/MediaLinksEditor.tsx
  packages/web/app/components/shared/MediaLinksWidget.tsx
  packages/web/app/components/shared/charts/ChartLegend.module.scss
  packages/web/app/config/.env.common
  packages/web/app/config/externalRoutes.ts
  packages/web/app/config/getConfig.ts
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/test-e2e/issuer/eto/fixtures.ts
  packages/web/app/test-e2e/issuer/eto/view/components/MediaLinksWidget.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
  packages/web/test/fixtures.ts
Labels: App: web

#4015 #3821 Button states CSS fixes
  packages/design-system/.storybook/config.js
  packages/design-system/package.json
  packages/design-system/src/components/buttons/Button.module.scss
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/components/buttons/ButtonBase.module.scss
  packages/design-system/src/components/buttons/CircleButton.module.scss
  packages/design-system/src/components/buttons/CircleButton.stories.tsx
  packages/design-system/src/components/buttons/CircleButton.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/polyfills.sideEffect.ts
  packages/web/app/polyfills.sideEffect.ts
  packages/web/package.json
Labels: App: web, Pkg: design-system

#4209 Update typed redux saga
  packages/sagas/package.json
  packages/sagas/src/sagaEffects.ts
  packages/sagas/src/sagasUtils.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/modules/routing/sagas.ts
  packages/web/app/modules/sagasUtils.ts
  packages/web/app/modules/wallet-selector/light-wizard/metadata/sagas.ts
  packages/web/health-check-sha.json
  patches/README.md
  patches/typed-redux-saga+0.4.0.patch
  yarn.lock
Labels: App: web, Pkg: sagas, TECH

#4210 #4172 Add buttons
  packages/wallet/README.md
  packages/wallet/android/app/src/main/assets/fonts/Roboto-Medium.ttf
  packages/wallet/android/app/src/main/assets/fonts/Roboto-Regular.ttf
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/components/shared/LineBreak.stories.tsx
  packages/wallet/app/components/shared/LineBreak.tsx
  packages/wallet/app/components/shared/Link.stories.tsx
  packages/wallet/app/components/shared/Link.tsx
  packages/wallet/app/components/shared/Touchable.stories.tsx
  packages/wallet/app/components/shared/Touchable.tsx
  packages/wallet/app/components/shared/buttons/Button.stories.tsx
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/signer/SignerModal.tsx
  packages/wallet/app/config/constants.ts
  packages/wallet/app/styles/colors.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/assets/fonts/Roboto-Medium.ttf
  packages/wallet/assets/fonts/Roboto-Regular.ttf
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/react-native.config.js
  packages/wallet/storybook/stories.ts
Labels: App: mobile, App: web, Design

#4218 #4199 text inputs
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/shared/forms/layouts/ErrorMessage.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/ErrorMessage.tsx
  packages/wallet/app/components/shared/forms/layouts/Field.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/Field.tsx
  packages/wallet/app/components/shared/forms/layouts/HelperText.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/HelperText.tsx
  packages/wallet/app/components/shared/forms/layouts/Label.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/Label.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.tsx
  packages/wallet/app/styles/common.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/storybook/stories.ts
  packages/web/health-check-sha.json
Labels: App: mobile, App: web, Design
