Repository Neufund/platform-frontend, pull requests merged in 2020-06, with the labels that each got.

#4369 #4357 copy changes
  packages/web/app/components/modals/tx-sender/investment-flow/Success.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.stories.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.tsx
  packages/web/app/components/modals/tx-sender/shared/TxSuccess.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4391 Revert "#4357 copy changes"
  packages/web/app/components/modals/tx-sender/investment-flow/Success.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.stories.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.tsx
  packages/web/app/components/modals/tx-sender/shared/TxSuccess.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4362 Add session storage for wallet connect
  packages/wallet/.eslintignore
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/java/org/neufund/mobile/MainApplication.java
  packages/wallet/android/settings.gradle
  packages/wallet/app/assets/device.svg
  packages/wallet/app/assets/logout.svg
  packages/wallet/app/components/screens/FixtureScreen/FixturesSwitcher.tsx
  packages/wallet/app/components/screens/FixtureScreen/ImportFixtureScreen.tsx
  packages/wallet/app/components/screens/FixtureScreen/SwitchFixtureScreen.tsx
  packages/wallet/app/components/screens/LandingScreen/LandingScreen.tsx
  packages/wallet/app/components/screens/ProfileScreen/ProfileScreen.tsx
  packages/wallet/app/components/screens/UnlockAccountScreen/UnlockAccountScreen.tsx
  packages/wallet/app/components/screens/WalletConnectSessionScreen/Section.tsx
  packages/wallet/app/components/screens/WalletConnectSessionScreen/WalletConnectSessionScreen.tsx
  packages/wallet/app/components/shared/Icon.tsx
  packages/wallet/app/components/shared/Link.tsx
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/shared/menu/Menu.stories.tsx
  packages/wallet/app/components/shared/menu/Menu.tsx
  packages/wallet/app/components/shared/menu/MenuItemButton.tsx
  packages/wallet/app/components/shared/menu/MenuItemNavigation.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel1.stories.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel1.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel2.stories.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel2.tsx
  packages/wallet/app/devUtils.ts
  packages/wallet/app/modules/auth/actions.ts
  packages/wallet/app/modules/auth/reducer.ts
  packages/wallet/app/modules/auth/sagas.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/signer-ui/sagas.ts
  packages/wallet/app/modules/storage/classes/AppSingleKeyStorage.ts
  packages/wallet/app/modules/storage/types/IStorageItem.ts
  packages/wallet/app/modules/wallet-connect/actions.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectManager.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectManager.ts
  packages/wallet/app/modules/wallet-connect/lib/adapterErrors.ts
  packages/wallet/app/modules/wallet-connect/lib/bindings.ts
  packages/wallet/app/modules/wallet-connect/lib/constants.ts
  packages/wallet/app/modules/wallet-connect/lib/schemas.ts
  packages/wallet/app/modules/wallet-connect/lib/symbols.ts
  packages/wallet/app/modules/wallet-connect/lib/types.ts
  packages/wallet/app/modules/wallet-connect/module.ts
  packages/wallet/app/modules/wallet-connect/reducer.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.ts
  packages/wallet/app/modules/wallet-connect/sagas.ts
  packages/wallet/app/modules/wallet-connect/types.ts
  packages/wallet/app/router/AppAuthRouter.tsx
  packages/wallet/app/router/AppNoAuthRouter.tsx
  packages/wallet/app/router/appRoutes.ts
  packages/wallet/app/router/routeUtils.ts
  packages/wallet/app/styles/colors.ts
  packages/wallet/app/utils/promiseUtils.spec.ts
  packages/wallet/app/utils/testUtils.specUtils.ts
  packages/wallet/package.json
  packages/wallet/storybook/storyLoader.js
  yarn.lock
Labels: App: mobile

#4382 Reduce bundle size
  packages/design-system/package.json
  packages/design-system/webpack/webpack.config.js
Labels: App: web, Pkg: design-system, TECH

#4403 Add proper margin for logout inactivity message
  packages/web/app/components/layouts/Layout.module.scss
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.stories.tsx
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserError.tsx
Labels: App: web

#4420 Fix e2e tests
  packages/web/app/test-e2e/utils/index.ts
  packages/web/health-check-sha.json
Labels: App: web

#4412 #4396 issuer voting page
  packages/shared-modules/src/extensions.ts
  packages/shared-modules/src/tests/bootstrapModule.ts
  packages/shared-modules/src/types.ts
  packages/shared-modules/src/utils.ts
  packages/shared-modules/typings/modules.d.ts
  packages/shared-utils/src/utils/NumberUtils.spec.ts
  packages/shared-utils/src/utils/NumberUtils.ts
  packages/wallet/app/store/utils.ts
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/governance/proposal/Proposal.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.stories.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/ProposalShared.module.scss
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.stories.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/ProposalVotingDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/components/layouts/FullscreenLayout.tsx
  packages/web/app/components/layouts/FullscreenProgressLayout.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/lib/web3/types.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/module.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting/module.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/sagas.ts
  packages/web/app/store.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Labels: App: mobile, App: web, Pkg: design-system, Pkg: shared-modules

#4423 Galactic Production RC 4 Merge fixed
  packages/shared-modules/src/extensions.ts
  packages/shared-modules/src/modules/gas/module.ts
  packages/shared-modules/src/modules/token-price/module.ts
  packages/shared-modules/src/modules/wallet/module.ts
  packages/shared-modules/src/tests/bootstrapModule.ts
  packages/shared-modules/src/types.ts
  packages/shared-modules/src/utils.ts
  packages/shared-modules/typings/modules.d.ts
  packages/shared-utils/src/utils/NumberUtils.spec.ts
  packages/shared-utils/src/utils/NumberUtils.ts
  packages/wallet/app/store/utils.ts
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/governance/proposal/Proposal.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.stories.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/ProposalShared.module.scss
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.stories.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/ProposalVotingDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/components/layouts/FullscreenLayout.tsx
  packages/web/app/components/layouts/FullscreenProgressLayout.tsx
  packages/web/app/components/layouts/Layout.module.scss
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.stories.tsx
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserError.tsx
  packages/web/app/lib/web3/types.ts
  packages/web/app/modules/investment-flow/sagas.spec.ts
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/module.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting/module.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/sagas.ts
  packages/web/app/store.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Labels: App: mobile, App: web, Pkg: shared-modules

#4425 Fix broken #p3 e2e tests
  packages/web/app/modules/kyc/actions.ts
  packages/web/app/modules/kyc/sagas.ts
  packages/web/app/modules/wallet/sagas.ts
  packages/web/app/test-e2e/other/login/BrowserWalletLogin.spec.e2e.io.ts
Labels: App: web

#4431 Fix memory leaks in unit tests
  packages/eslint-config/base.js
  packages/wallet/app/__mocks__/react-native-config.ts
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel1.stories.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel2.stories.tsx
  packages/wallet/app/hooks/usePrevious.spec.tsx
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/eth/lib/EthAdapter.ts
  packages/wallet/app/modules/eth/lib/EthManager.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.ts
  packages/wallet/app/modules/eth/lib/utils.spec.ts
  packages/wallet/app/modules/eth/lib/utils.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.ts
  packages/wallet/app/utils/memoryCache.spec.ts
Labels: App: mobile

#4434 Update jest
  .circleci/config.yml
  packages/wallet/package.json
  yarn.lock
Labels: App: mobile

#4429 removes clearEmailServer from e2e tests
  packages/shared-modules/src/modules/auth/user/sagas.spec.ts
  packages/shared-modules/src/tests/wrapperFetch.ts
  packages/web/app/test-e2e/investor/bank/BankVerification.spec.e2e.ts
  packages/web/app/test-e2e/investor/bank/purchase/Purchase.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/withdraw/Withdraw.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
Labels: App: web, Pkg: shared-modules

#4424 #4410 walletConnect landing page redesign
  packages/web/app/assets/img/inline_icons/alert.svg
  packages/web/app/assets/img/inline_icons/warning-circle--solid.svg
  packages/web/app/assets/img/inline_icons/wc_logo.svg
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.module.scss
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.stories.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4428 Add e2e tests for voting flow
  packages/web/app/components/appRouteUtils.ts
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteSummary.tsx
  packages/web/app/modules/shareholder-resolutions-voting-view/sagas.ts
  packages/web/app/test-e2e/investor/governance/Proposal.spec.e2e.ts
  packages/web/app/test-e2e/investor/governance/utils.ts
  packages/web/app/test-e2e/investor/invest/Invest.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/onboarding/Onboarding.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForLIInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForUnapprovedInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/governance/Proposal.spec.e2e.ts
  packages/web/app/test-e2e/issuer/governance/utils.ts
  packages/web/app/test-e2e/other/email/verification/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/BrowserWalletLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/JWT.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/navigation.ts
  packages/web/app/test-e2e/vis-reg/Investor.spec.e2e.visreg.ts
  packages/web/app/test-e2e/vis-reg/Issuer.spec.e2e.visreg.ts
Labels: App: web

#4435 App center integration
  packages/eslint-config/react-native.js
  packages/wallet/.env.example
  packages/wallet/.gitignore
  packages/wallet/android/app/build.gradle
  packages/wallet/app/index.tsx
  packages/wallet/appcenter-post-clone.sh
  packages/wallet/index.js
  packages/wallet/ios/Config.xcconfig
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/metro.config.js
  packages/wallet/package.json
  packages/wallet/patches/@react-native-community+cli-platform-android+3.0.3.patch
  packages/wallet/patches/README.md
  packages/wallet/scripts/appcenter-monorepo-patch.sh
  packages/wallet/scripts/generate-env.sh
  yarn.lock
Labels: App: mobile, App: web

#4443 Fixes out of gas when node is Geth
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/health-check-sha.json
Labels: App: web

#4436 #4427 fix signer modal
  packages/web/app/components/modals/tx-sender/TxSender/TxSender.stories.tsx
  packages/web/app/components/modals/tx-sender/TxSender/TxSenderBody.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/wallet-access/AccessWallet.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletLayoutBase.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.module.scss
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/shared/hooks/useLogger.ts
  packages/web/app/modules/access-wallet/actions.spec.ts
  packages/web/app/modules/access-wallet/reducer.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/utils/react-connected-components/storeDecorator.unsafe.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4448 fix for gas cost in euros not displaying properly
  packages/web/app/components/modals/tx-sender/withdraw-flow/Summary/TransferSummary/TransferSummary.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransaction.tsx
Labels: App: web

#4449 Galatic Production Post Release 2
  packages/web/app/assets/img/neufund_landing_visual.png
  packages/web/app/components/landing/Landing.module.scss
  packages/web/app/components/landing/Landing.tsx
  packages/web/app/components/modals/tx-sender/TxSender/TxSender.stories.tsx
  packages/web/app/components/modals/tx-sender/TxSender/TxSenderBody.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/Summary/TransferSummary/TransferSummary.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransaction.tsx
  packages/web/app/components/modals/wallet-access/AccessWallet.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletLayoutBase.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.module.scss
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/shared/hooks/useLogger.ts
  packages/web/app/config/externalRoutes.ts
  packages/web/app/data/etoCompanies.ts
  packages/web/app/modules/access-wallet/actions.spec.ts
  packages/web/app/modules/access-wallet/reducer.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/utils/react-connected-components/storeDecorator.unsafe.tsx
  packages/web/intl/locales/en-en.json
Labels: App: web

#4451 Fix merge collision
  packages/web/app/components/modals/tx-sender/TxSender/TxSender.stories.tsx
Labels: App: web
