Repository Neufund/platform-frontend, pull requests merged in 2020-07, with the labels that each got.

#4463 change walletConnect landing page url
  packages/web/app/components/appRoutes.ts
  packages/web/health-check-sha.json
Labels: App: web

#4460 Update ESLint
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/shared-utils/src/utils/errors.ts
  packages/shared-utils/src/utils/types.ts
  packages/wallet/.eslintignore
  packages/wallet/.eslintrc.js
  packages/wallet/app/App.tsx
  packages/wallet/app/components/QRCode.tsx
  packages/wallet/app/components/modals/SignerModal/SignMessageSigner.tsx
  packages/wallet/app/components/modals/SignerModal/SignerModal.tsx
  packages/wallet/app/components/screens/HomeScreen/HomeScreen.tsx
  packages/wallet/app/components/screens/ImportAccountScreen/ImportAccountScreenForm.tsx
  packages/wallet/app/components/screens/WalletScreen/WalletScreen.tsx
  packages/wallet/app/components/shared/animations/BaseAnimation.spec.tsx
  packages/wallet/app/components/shared/animations/BaseAnimation.tsx
  packages/wallet/app/components/shared/forms/fields/Field.tsx
  packages/wallet/app/components/shared/forms/fields/Form.tsx
  packages/wallet/app/components/shared/forms/layouts/switcher/Switcher.tsx
  packages/wallet/app/components/shared/forms/layouts/switcher/SwitcherItem.tsx
  packages/wallet/app/components/utils.ts
  packages/wallet/app/devUtils.ts
  packages/wallet/app/index.tsx
  packages/wallet/app/modules/auth/module.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.ts
  packages/wallet/app/modules/eth/lib/__mocks__/react-native-keychain.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/storage/classes/AppStorage.spec.ts
  packages/wallet/app/modules/storage/classes/AppStorage.ts
  packages/wallet/app/modules/storage/classes/StorageSchema.ts
  packages/wallet/app/modules/utils.ts
  packages/wallet/app/modules/wallet-connect/__mocks__/@walletconnect/react-native.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectManager.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/adapterErrors.ts
  packages/wallet/app/modules/wallet-connect/lib/utils.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.ts
  packages/wallet/app/polyfills.ts
  packages/wallet/app/router/AppAuthRouter.tsx
  packages/wallet/app/router/AppNoAuthRouter.tsx
  packages/wallet/app/store/utils.ts
  packages/wallet/app/utils/testUtils.specUtils.ts
  packages/wallet/app/utils/yupSchemas.ts
  packages/wallet/jest-setup-file.specUtils.ts
  packages/wallet/package.json
  packages/wallet/storybook/index.tsx
  yarn.lock
Labels: App: mobile, TECH

#4469 #4045 add nullBlockTracker to ledger and lightwallet
  packages/web/app/lib/web3/ledger-wallet/ledgerUtils.ts
  packages/web/app/lib/web3/light-wallet/LightWalletConnector.ts
Labels: App: web

#4479 Update Subwallet type detection
  packages/shared-modules/src/modules/auth/lib/users/interfaces.ts
  packages/web/app/lib/web3/browser-wallet/BrowserWalletConnector.ts
  packages/web/health-check-sha.json
Labels: App: web, Pkg: shared-modules

#4480 Update Subwallet type detection hotfix
  packages/web/app/lib/web3/browser-wallet/BrowserWalletConnector.ts
  packages/web/health-check-sha.json
Labels: App: web

#4478 Adds Euro unlock
  packages/shared-modules/src/modules/wallet/selectors.ts
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/edge-cases/UnlockEuroWalletFundsFromLink.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.tsx
  packages/web/app/components/modals/tx-sender/unlock-wallet-flow/Summary.stories.tsx
  packages/web/app/components/modals/tx-sender/unlock-wallet-flow/UnlockWalletTransactionDetails.tsx
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/tx/sender/reducer.ts
  packages/web/app/modules/tx/sender/utils.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/unlock/errors.ts
  packages/web/app/modules/tx/transactions/unlock/sagas.ts
  packages/web/app/modules/tx/transactions/unlock/selectors.ts
  packages/web/app/modules/tx/transactions/unlock/types.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: shared-modules

#4486 Unlock Euro Wallet - Hotfix
  packages/shared-modules/src/modules/wallet/selectors.ts
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/edge-cases/UnlockEuroWalletFundsFromLink.tsx
  packages/web/app/components/modals/tx-sender/shared/TxError.tsx
  packages/web/app/components/modals/tx-sender/unlock-wallet-flow/Summary.stories.tsx
  packages/web/app/components/modals/tx-sender/unlock-wallet-flow/UnlockWalletTransactionDetails.tsx
  packages/web/app/components/wallet/views/start/Start.tsx
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/tx/sender/reducer.ts
  packages/web/app/modules/tx/sender/utils.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/unlock/errors.ts
  packages/web/app/modules/tx/transactions/unlock/sagas.ts
  packages/web/app/modules/tx/transactions/unlock/selectors.ts
  packages/web/app/modules/tx/transactions/unlock/types.ts
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: shared-modules

#4487 Add missing gas module to wallet init setup
  packages/wallet/app/modules/init/module.ts
Labels: App: mobile, Bug

#4470 Governance Overview page
  packages/web/app/assets/img/governance_announcement.svg
  packages/web/app/assets/img/governance_esop.svg
  packages/web/app/assets/img/governance_exit.svg
  packages/web/app/assets/img/governance_pie_chart.svg
  packages/web/app/assets/img/governance_token.svg
  packages/web/app/assets/img/governance_vote.svg
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/governance/Governance/Governance.tsx
  packages/web/app/components/governance/Governance/GovernanceNav.module.scss
  packages/web/app/components/governance/Governance/GovernanceNavigationMenu.tsx
  packages/web/app/components/governance/Governance/GovernanceOverview/GovernanceOverview.module.scss
  packages/web/app/components/governance/Governance/GovernanceOverview/GovernanceOverview.tsx
  packages/web/app/components/governance/Governance/constants.tsx
  packages/web/app/modules/governance/sagas.ts
  packages/web/app/modules/routing/governance.routeEffects.ts
  packages/web/app/modules/routing/routeEffects.ts
  packages/web/app/modules/routing/sagas.ts
Labels: App: web, Pkg: design-system

#4471 Add recover phrase screen
  packages/wallet/.eslintrc.js
  packages/wallet/android/app/src/main/java/org/neufund/mobile/MainApplication.java
  packages/wallet/android/app/src/main/java/org/neufund/mobile/custom_modules/RNProtectScreenModule.java
  packages/wallet/android/app/src/main/java/org/neufund/mobile/custom_modules/RNProtectScreenPackage.java
  packages/wallet/app/__mocks__/fileMock.ts
  packages/wallet/app/assets/lock.svg
  packages/wallet/app/components/containers/AppContainer.tsx
  packages/wallet/app/components/containers/InversifyProvider.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/AccountBackupScreen.spec.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/AccountBackupScreen.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/AccountBackupScreenLayout.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/RecoveryPhrase.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/types.ts
  packages/wallet/app/components/screens/ProfileScreen/ProfileScreen.tsx
  packages/wallet/app/components/shared/Icon.tsx
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/components/shared/Touchable.tsx
  packages/wallet/app/components/shared/__mocks__/Screen.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.tsx
  packages/wallet/app/components/shared/forms/layouts/switcher/Switcher.tsx
  packages/wallet/app/components/shared/hooks/useStatusBarStyle.ts
  packages/wallet/app/components/shared/shadow/Shadow.tsx
  packages/wallet/app/components/shared/typography/CodeText.tsx
  packages/wallet/app/components/shared/typography/Typography.stories.tsx
  packages/wallet/app/config/constants.ts
  packages/wallet/app/hocs/withContainer.tsx
  packages/wallet/app/hocs/withProtectSensitive.spec.tsx
  packages/wallet/app/hocs/withProtectSensitive.tsx
  packages/wallet/app/hooks/useSymbol.ts
  packages/wallet/app/index.tsx
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.spec.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.ts
  packages/wallet/app/modules/eth/lib/EthWalletFactory.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.ts
  packages/wallet/app/modules/eth/lib/errors.ts
  packages/wallet/app/modules/eth/lib/types.ts
  packages/wallet/app/modules/eth/module.ts
  packages/wallet/app/modules/wallet-connect/__mocks__/@walletconnect/react-native.ts
  packages/wallet/app/native-modules/RNProtectScreen.ts
  packages/wallet/app/router/AppAuthRouter.tsx
  packages/wallet/app/router/appRoutes.ts
  packages/wallet/app/router/routeUtils.ts
  packages/wallet/app/styles/spacings.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/app/utils/Platform.ts
  packages/wallet/app/utils/testUtils.specUtils.ts
  packages/wallet/ios/custom-modules/RNProtectScreen.h
  packages/wallet/ios/custom-modules/RNProtectScreen.m
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/AppDelegate.m
  packages/wallet/jest-setup-file.specUtils.ts
  packages/wallet/jest.config.js
  packages/wallet/tsconfig.json
Labels: App: mobile

#4493 Turn on arrow-body-style, arrow-parens, no-confusing-arrow, prefer-arrow-callback rules
  packages/eslint-config/base.js
  packages/wallet/app/components/CriticalError.tsx
  packages/wallet/app/components/modals/SignerModal/SignerModal.tsx
  packages/wallet/app/components/screens/AccountBackupScreen/AccountBackupScreenLayout.tsx
  packages/wallet/app/components/screens/FixtureScreen/FixturesSwitcher.tsx
  packages/wallet/app/components/screens/HomeScreen/HomeScreen.tsx
  packages/wallet/app/components/screens/ImportAccountScreen/ImportAccountScreen.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/ItemSeparatorComponent.tsx
  packages/wallet/app/components/screens/WalletScreen/WalletScreen.tsx
  packages/wallet/app/components/shared/asset/TokenIcon.tsx
  packages/wallet/app/components/shared/typography/BoldText.tsx
  packages/wallet/app/modules/eth/lib/utils.ts
  packages/wallet/app/modules/utils.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.spec.ts
  packages/wallet/app/test-utils/MockReduxProvider.tsx
  packages/wallet/app/themes/ThemeProvider.tsx
  packages/wallet/app/utils/yupSchemas.ts
Labels: App: mobile

#4494 Small tweaks to remove react and metro bundler console warnings
  packages/wallet/app/components/screens/HomeScreen/HomeScreenLayout.tsx
  packages/wallet/app/components/screens/ProfileScreen/ProfileScreen.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/Transactions.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/utils.ts
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/components/shared/animations/Skeleton.tsx
  packages/wallet/app/devUtils.ts
  packages/wallet/app/modules/wallet-connect/module.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.ts
  packages/wallet/app/modules/wallet-connect/sagas.ts
Labels: App: mobile, TECH

#4490 adds android wallet signing
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/production.keystore.p12
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/android/build.gradle
  yarn.lock
Labels: App: mobile

#4498 Fix storybook being in prod bundle
  packages/wallet/app/index.dev.tsx
  packages/wallet/app/index.prod.tsx
  packages/wallet/app/index.tsx
  packages/wallet/package.json
Labels: App: mobile

#4508 update eto fixture to new document format
  .circleci/add-swap.sh
  .circleci/config.yml
  packages/web/app/test-e2e/issuer/eto/utils.ts
  packages/web/health-check-sha.json
Labels: App: web

#4440 #4407 transaction history improvements
  packages/sagas/src/sagaTestUtils.ts
  packages/shared-modules/src/modules/token-price/sagas.ts
  packages/shared-modules/src/modules/tx-history/actions.ts
  packages/shared-modules/src/modules/tx-history/lib/http/analytics-api/AnalyticsApi.ts
  packages/shared-modules/src/modules/tx-history/module.ts
  packages/shared-modules/src/modules/tx-history/reducer.ts
  packages/shared-modules/src/modules/tx-history/sagas.spec.ts
  packages/shared-modules/src/modules/tx-history/sagas.specFixtures.ts
  packages/shared-modules/src/modules/tx-history/sagas.ts
  packages/shared-modules/src/modules/tx-history/selectors.ts
  packages/shared-modules/src/modules/tx-history/utils.ts
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/utils/isNonNullable.spec.ts
  packages/shared-utils/src/utils/isNonNullable.ts
  packages/shared-utils/src/utils/test/testUtils.ts
  packages/web/app/assets/img/inline_icons/tx_in.svg
  packages/web/app/assets/img/inline_icons/tx_out.svg
  packages/web/app/assets/img/inline_icons/tx_pending.svg
  packages/web/app/components/shared/hooks/useOnKeyPress.spec.ts
  packages/web/app/components/shared/hooks/useOnKeyPress.ts
  packages/web/app/components/wallet/Wallet.tsx
  packages/web/app/components/wallet/transactions-history/PendingTransaction.tsx
  packages/web/app/components/wallet/transactions-history/Transaction.tsx
  packages/web/app/components/wallet/transactions-history/TransactionsHistory.module.scss
  packages/web/app/components/wallet/transactions-history/TransactionsHistory.tsx
  packages/web/app/modules/tx/monitor/actions.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/wallet-view/sagas.spec.ts
  packages/web/app/modules/wallet-view/sagas.specFixtures.ts
  packages/web/app/modules/wallet-view/sagas.ts
  packages/web/app/modules/wallet-view/types.ts
Labels: App: web, Pkg: sagas, Pkg: shared-modules
