Repository Neufund/platform-frontend, pull requests merged in 2020-08, with the labels that each got.

#4509 Updates Infido SDK
  packages/web/package.json
  yarn.lock
Labels: App: web

#4521 Nutek Production RC 2
  packages/web/package.json
  yarn.lock
Labels: App: web

#4504 #4383 update react native
  packages/wallet/.gitattributes
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/debug/java/org/neufund/mobile/ReactNativeFlipper.java
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/android/app/src/main/java/org/neufund/mobile/MainApplication.java
  packages/wallet/android/build.gradle
  packages/wallet/android/gradle.properties
  packages/wallet/android/gradle/wrapper/gradle-wrapper.properties
  packages/wallet/android/gradlew
  packages/wallet/android/gradlew.bat
  packages/wallet/app/components/screens/AccountBackupScreen/AccountBackupScreenLayout.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/Transactions.tsx
  packages/wallet/app/components/shared/HeaderScreen.tsx
  packages/wallet/app/components/shared/NeuGradientScreen.tsx
  packages/wallet/app/components/shared/Screen.tsx
  packages/wallet/app/components/shared/modals/BottomSheetModal.tsx
  packages/wallet/app/devUtils.ts
  packages/wallet/app/store/create.tsx
  packages/wallet/ios/Podfile
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet-Bridging-Header.h
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/ios/wallet/AppDelegate.h
  packages/wallet/ios/wallet/AppDelegate.m
  packages/wallet/ios/wallet/main.m
  packages/wallet/ios/walletTests/walletTests.m
  packages/wallet/package.json
  packages/wallet/patches/@react-native-community+cli-platform-android+3.0.3.patch
  packages/wallet/patches/@types+react-native+0.63.2.patch
  packages/wallet/patches/README.md
  yarn.lock
Labels: App: mobile, TECH

#4482 #4418 Show verification status
  packages/shared-modules/src/modules/kyc/sagas.ts
  packages/shared-modules/src/modules/kyc/selectors.ts
  packages/wallet/app/assets/checklist.svg
  packages/wallet/app/components/screens/ProfileScreen/ProfileScreen.tsx
  packages/wallet/app/components/shared/Icon.tsx
  packages/wallet/app/components/shared/menu/Menu.tsx
  packages/wallet/app/components/shared/menu/MenuItemButton.tsx
  packages/wallet/app/components/shared/menu/MenuItemInformative.tsx
  packages/wallet/app/components/shared/menu/MenuItemNavigation.tsx
  packages/wallet/app/modules/init/sagas.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
Labels: App: mobile, App: web, Pkg: design-system, Pkg: sagas, Pkg: shared-modules

#4528 Add eslint-config to README.md
  README.md
  packages/web/health-check-sha.json
Labels: App: web

#4533 #4422 - Adds Tally and Final to Simple Voting
  packages/design-system/src/components/formatters/EurToken.tsx
  packages/design-system/src/components/formatters/Formatters.stories.tsx
  packages/design-system/src/styles/variables/colors.scss
  packages/web/app/components/governance/proposal/ProposalDetails.stories.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.stories.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/TokenHolderNomineeBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/VotingStateWidget.module.scss
  packages/web/app/components/governance/proposal/voting-details/VotingStateWidget.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/modules/shareholder-resolutions-voting-view/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Labels: App: web, Pkg: design-system

#4537 Nutek Production RC4
  README.md
  packages/design-system/src/components/formatters/EurToken.tsx
  packages/design-system/src/components/formatters/Formatters.stories.tsx
  packages/design-system/src/styles/variables/colors.scss
  packages/sagas/package.json
  packages/sagas/src/sagasUtils.ts
  packages/sagas/src/tests.ts
  packages/shared-modules/src/modules/core/module.ts
  packages/shared-modules/src/modules/eto/sagas/watchEtosSetActionSaga.ts
  packages/shared-modules/src/tests/bootstrapModule.ts
  packages/wallet/.eslintrc.js
  packages/wallet/app/modules/wallet-connect/module.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.spec.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.spec.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/tryToConnectExistingSession.spec.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/tryToConnectExistingSession.ts
  packages/wallet/app/modules/wallet-connect/sagas.ts
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/governance/Governance/GeneralInformation/GeneralInformation.module.scss
  packages/web/app/components/governance/Governance/GeneralInformation/GeneralInformation.tsx
  packages/web/app/components/governance/Governance/GeneralInformation/GeneralInformationContainer.tsx
  packages/web/app/components/governance/Governance/GeneralInformation/GeneralInformationList.tsx
  packages/web/app/components/governance/Governance/Governance.module.scss
  packages/web/app/components/governance/Governance/Governance.tsx
  packages/web/app/components/governance/Governance/GovernanceNavigationMenu.module.scss
  packages/web/app/components/governance/Governance/GovernanceNavigationMenu.tsx
  packages/web/app/components/governance/Governance/GovernanceOverview/GovernanceOverview.module.scss
  packages/web/app/components/governance/Governance/GovernanceOverview/GovernanceOverview.tsx
  packages/web/app/components/governance/Governance/GovernancePageSelect.unsafe.tsx
  packages/web/app/components/governance/Governance/constants.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.stories.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.stories.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/TokenHolderNomineeBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/VotingStateWidget.module.scss
  packages/web/app/components/governance/proposal/voting-details/VotingStateWidget.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting-view/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
  yarn.lock
Labels: App: mobile, App: web, Pkg: design-system, Pkg: sagas, Pkg: shared-modules

#4544 Adds transaction cost to simple voting
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteDetails.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteSummary.stories.tsx
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/sagas.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/types.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4545 Fix Eur format in Transfer Summary
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransactionLayout.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/shared/TokenAmount.tsx
  packages/web/app/components/shared/MoneySuiteWidget/MoneySuiteWidget.tsx
  packages/web/app/modules/tx/user-flow/transfer/utils.ts
Labels: App: web

#4546 adds edge case where offline votes didn't occur
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
Labels: App: web

#4540 show warning if payout is too low
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.tsx
  packages/wallet/.env.example
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSuccess.stories.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSuccess.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.module.scss
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptTransactionDetails.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptTransactionDetailsSummary.tsx
  packages/web/app/components/modals/tx-sender/shared/InfoRow.tsx
  packages/web/app/config/.env.commit
  packages/web/app/config/.env.common
  packages/web/app/config/.env.e2e
  packages/web/app/config/.env.e2e.io
  packages/web/app/config/constants.ts
  packages/web/app/modules/tx/transactions/payout/accept/saga.ts
  packages/web/app/modules/tx/transactions/payout/accept/types.ts
  packages/web/app/modules/tx/transactions/payout/types.ts
  packages/web/intl/locales/en-en.json
Labels: App: mobile, App: web, Pkg: design-system

#4547 Nutek Production RC5
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.tsx
  packages/wallet/.env.example
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSuccess.stories.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSuccess.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.module.scss
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptTransactionDetails.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptTransactionDetailsSummary.tsx
  packages/web/app/components/modals/tx-sender/shared/InfoRow.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteDetails.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransactionLayout.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/shared/TokenAmount.tsx
  packages/web/app/components/shared/MoneySuiteWidget/MoneySuiteWidget.tsx
  packages/web/app/config/.env.commit
  packages/web/app/config/.env.common
  packages/web/app/config/.env.e2e
  packages/web/app/config/.env.e2e.io
  packages/web/app/config/constants.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/app/modules/tx/transactions/payout/accept/saga.ts
  packages/web/app/modules/tx/transactions/payout/accept/types.ts
  packages/web/app/modules/tx/transactions/payout/types.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/sagas.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/types.ts
  packages/web/app/modules/tx/user-flow/transfer/utils.ts
  packages/web/intl/locales/en-en.json
Labels: App: mobile, App: web, Pkg: design-system

#4548 adds tally and final state to issuer
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.stories.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingBreakdown.tsx
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/intl/locales/en-en.json
Labels: App: web

#4515 #4458 Add proper money formatters
  packages/design-system/src/components/formatters/EquityTokenPriceEuro.tsx
  packages/design-system/src/components/formatters/Eth.tsx
  packages/design-system/src/components/formatters/Eur.tsx
  packages/design-system/src/components/formatters/EurToken.tsx
  packages/design-system/src/components/formatters/Neu.tsx
  packages/design-system/src/components/formatters/Percentage.tsx
  packages/design-system/src/components/formatters/WholeEur.tsx
  packages/design-system/src/components/formatters/WholeEurShort.tsx
  packages/design-system/src/components/formatters/atoms/Units.tsx
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/opaque-types/eth/types.ts
  packages/shared-utils/src/opaque-types/eth/utils.ts
  packages/shared-utils/src/opaque-types/index.ts
  packages/shared-utils/src/opaque-types/token/types.ts
  packages/shared-utils/src/opaque-types/token/utils.spec.ts
  packages/shared-utils/src/opaque-types/token/utils.ts
  packages/shared-utils/src/opaque-types/types.ts
  packages/shared-utils/src/utils/formatters/formatCurrency.ts
  packages/shared-utils/src/utils/formatters/formatters.spec.ts
  packages/shared-utils/src/utils/formatters/formatters.ts
  packages/shared-utils/src/utils/formatters/index.ts
  packages/shared-utils/src/utils/formatters/types.ts
  packages/shared-utils/src/utils/formatters/utils.ts
  packages/shared-utils/src/utils/opaque-types/index.ts
  packages/shared-utils/src/utils/test/testUtils.ts
  packages/shared-utils/src/utils/types.ts
  packages/wallet/app/components/screens/HomeScreen/HomeScreenLayout.tsx
  packages/wallet/app/components/screens/PortfolioScreen/PortfolioScreenLayout.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/PendingTransaction.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/SuccessfulTransaction.tsx
  packages/wallet/app/components/screens/WalletScreen/Transactions/transactionSharedStyles.ts
  packages/wallet/app/components/screens/WalletScreen/WalletScreenLayout.tsx
  packages/wallet/app/components/shared/Money.tsx
  packages/wallet/app/components/shared/asset/Asset.stories.tsx
  packages/wallet/app/components/shared/asset/Asset.tsx
  packages/wallet/app/components/shared/formatters/Equity.tsx
  packages/wallet/app/components/shared/formatters/Eth.tsx
  packages/wallet/app/components/shared/formatters/Eur.tsx
  packages/wallet/app/components/shared/formatters/EurToken.tsx
  packages/wallet/app/components/shared/formatters/Formatters.stories.tsx
  packages/wallet/app/components/shared/formatters/MoneyUnsafe.stories.tsx
  packages/wallet/app/components/shared/formatters/MoneyUnsafe.tsx
  packages/wallet/app/components/shared/formatters/Neu.tsx
  packages/wallet/app/components/shared/formatters/atoms/Units.tsx
  packages/wallet/app/components/shared/formatters/atoms/Value.tsx
  packages/wallet/app/components/shared/formatters/index.ts
  packages/wallet/app/modules/home-screen/selectors.ts
  packages/wallet/app/modules/home-screen/types.ts
  packages/wallet/app/modules/portfolio-screen/selectors.ts
  packages/wallet/app/modules/portfolio-screen/types.ts
  packages/wallet/app/modules/wallet-screen/selectors.ts
  packages/wallet/app/modules/wallet-screen/types.ts
  packages/wallet/app/utils/createToken.ts
  packages/wallet/app/utils/types.ts
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/storybook/storyLoader.js
  packages/web/app/components/shared/Money.unsafe.tsx
  packages/web/app/modules/tx/user-flow/transfer/utils.ts
Labels: App: mobile, Pkg: design-system

#4553 Update @types/react-native
  packages/wallet/app/components/shared/NeuGradientScreen.tsx
  packages/wallet/package.json
  packages/wallet/patches/@types+react-native+0.63.2.patch
  packages/wallet/patches/README.md
  yarn.lock
Labels: App: mobile, TECH

#4512 Basic Mobile Message Signer
  packages/shared-modules/src/modules/auth/jwt/types.ts
  packages/wallet/app/components/modals/SignerModal/SignMessageSigner.tsx
  packages/wallet/app/components/modals/SignerModal/SignerModal.stories.tsx
  packages/wallet/app/locales/en-en.json
  packages/wallet/app/modules/signer-ui/types.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.ts
  packages/wallet/app/modules/wallet-connect/lib/adapterErrors.ts
  packages/wallet/app/modules/wallet-connect/lib/schemas.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/schemas.ts
  packages/wallet/app/modules/wallet-connect/lib/types.ts
  packages/wallet/app/modules/wallet-connect/lib/utils.spec.ts
  packages/wallet/app/modules/wallet-connect/lib/utils.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.spec.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectToURI.spec.ts
Labels: App: mobile, App: web, Pkg: shared-modules

#4532 #4500 Lock screen basic implementation
  packages/shared-modules/src/modules/auth/jwt/reducer.ts
  packages/shared-modules/src/modules/auth/jwt/sagas.ts
  packages/shared-modules/src/modules/auth/user/actions.ts
  packages/shared-modules/src/modules/auth/user/reducer.ts
  packages/shared-modules/src/modules/auth/user/sagas.ts
  packages/shared-modules/src/modules/wallet/actions.ts
  packages/shared-modules/src/modules/wallet/reducer.ts
  packages/shared-modules/src/modules/wallet/sagas.ts
  packages/wallet/app/modules/auth/actions.ts
  packages/wallet/app/modules/auth/module.ts
  packages/wallet/app/modules/auth/reducer.ts
  packages/wallet/app/modules/auth/sagas.ts
  packages/wallet/app/modules/auth/selectors.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/utils.ts
  packages/wallet/app/router/routeUtils.ts
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/ios/wallet/wallet.entitlements
  packages/wallet/ios/wallet/walletRelease.entitlements
  packages/web/app/modules/init/sagas.ts
Labels: App: mobile, App: web, Pkg: shared-modules

#4558 bumps android version code for MVP 1.1 release
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
Labels: App: mobile

#4555 Use native navigation screens
  packages/wallet/app/index.tsx
Labels: App: mobile, TECH

#4561 #4550_send_jwt_with_ipfs_downloads
  packages/shared-modules/src/modules/auth/lib/http/AuthHttpClient.ts
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/lib/api/immutable-storage/ImmutableStorageApi.ts
  packages/web/app/modules/immutable-file/actions.ts
  packages/web/app/modules/immutable-file/sagas.ts
Labels: App: web, Pkg: shared-modules
